.left {
	text-align: left;
}
ul.pagination .page-item a {
	color: #000 !important;
	font-size: 14px;
}
.pagination .page-item.active .page-link {
	z-index: 3;
	color: #4fadea;
	background-color: #e8f6ff;
	border-color: #4fadea;
	height: 35px;
}
.wrapper {
	display: -webkit-flex;
	display: flex;
	min-height: 100%;
	overflow-x: hidden;
	margin-top: 90px;
}

.sidebar {
	position: fixed;
	width: 220px;
	height: 100%;
	background: #4fadea;
	padding: 10px;
}

.content {
	-webkit-flex: 1;
	flex: 1;
	padding: 40px;
	background: #fff;
	transform: translate3d(0, 0, 0);
	transition: all 0.3s;
}

.side-panel-toggle {
	cursor: pointer;
	font-size: 42px;
	display: none;
}

.field-size {
	font-size: 14px;
	border: 2px solid #a1a0a021 !important;
}

/* Demo nav_dashboardigation */
/* table stying*/

.dashboard-table {
	border: 1px solid #d7d7d785;
	margin-top: 25px;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 6%);
}
.dashboard-table tr {
	border-bottom: 1px solid #d7d7d78c !important;
}
/* .sc-egiyK.lnndaO {
    width: 90px !important;
    overflow: unset;
} */
.dashboard-table td {
	padding: 20px 14px !important;
	font-weight: 500;
	color: #344054;
	word-break: break-all;
}
table.table.table-hover.dashboard-table {
	display: block;
}
.field-text {
	display: block;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dataTables_filter {
	float: right;
}

.table-hover > tbody > tr:hover {
	background-color: lighten(cyan, 40%);
}

.verfied-pill {
	color: #039855;
	/* background: #ecfdf3; */
	padding: 4px 10px;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 600;
}

.not-verfied-pill {
	color: #f04438;
	/* background: #fef3f2; */
	padding: 4px 10px;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 600;
}
.sent-pill {
	color: #f09a38;
	/* background: #fef3f2; */
	padding: 4px 10px;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 600;
}
.filter-section {
	width: 100%;
}
.table {
	@media only screen and (min-width: 768px) {
		table-layout: fixed;
		max-width: 100% !important;
	}
}

.dashboard-table th {
	font-weight: 400;
	font-size: 14px;
	padding: 14px !important;
}

.table > :not(:first-child) {
	border-top: none !important;
}

thead {
	background: #f9fafb;
}

.table td:nth-child(2) {
	overflow: hidden;
	text-overflow: ellipsis;
}

.highlight {
	background: lighten(yellow, 30%);
}

@media only screen and (max-width: 767px) {
	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr,
	tfoot tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50% !important;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.table td:nth-child(1) {
		background: #ccc;
		height: 100%;
		top: 0;
		left: 0;
		font-weight: bold;
	}
	/*
	Label the data
	*/
	td:nth-of-type(1):before {
		content: "Name";
	}
	td:nth-of-type(2):before {
		content: "Position";
	}
	td:nth-of-type(3):before {
		content: "Office";
	}
	td:nth-of-type(4):before {
		content: "Age";
	}
	td:nth-of-type(5):before {
		content: "Start date";
	}
	td:nth-of-type(6):before {
		content: "Salary";
	}

	.dataTables_length {
		display: none;
	}
}
/*end table styling */

/*add user**/
.add_user.row {
	background: #f9f9f9;
	padding: 35px 20px;
}

.text-bold {
	font-weight: 500;
}

.add-user-tab li button {
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	color: #969696;
}

.add-user-tab.nav-tabs .nav-link.active {
	color: #ffffff;
	background-color: #4fadea;
	border-color: #dee2e6 #dee2e6 #fff;
}

.upload-send {
	margin-right: 6px;
	margin-top: 3px;
}
/*end add user**/
/**user verification**/
select.select-custom.form-select {
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	padding: 11px;
	font-size: 14px;
}

.send-btn.file--upload > label {
	width: 100%;
	margin-bottom: 15px !important;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #4fadea;
	font-size: 14px;
	padding: 1px 10px;
	margin-top: 7px;
	background: #4fadea;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	color: #fff;
	display: flex;
	justify-content: center;
}
/**end user verification**/
.switch-label label {
	margin-top: 23px;
	padding-left: 15px;
}

input#custom-switch\ switch-ucc {
	width: 3em !important;
	height: 22px;
}
.form-check-input:checked {
	background-color: #4fadea !important;
	border-color: #3896d2 !important;
}
.add_user select {
	color: #667085;
}
.add_user .form-control::placeholder {
	color: #667085;
}
.box-line {
	border: 1px solid #d7d7d7a6;
	padding: 25px;
	margin: 20px 0 40px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
}
.btn-size {
	width: 20px;
	margin-right: 6px;
}
.search-size {
	width: 16px;
}
.custom-refresh {
	padding: 0px 15px !important;
}
input.investor-search.form-control {
	width: 50%;
	float: left;
	padding: 6px 12px;
	line-height: 0;
	margin-left: 10px;
	font-size: 14px;
}
.action-btns {
	text-align: right;
}
.action-btns .btn-filled {
	border: 1px solid #4fadea !important;
	color: #fff !important;
	background-color: #4fadea !important;
	font-size: 14px !important;
	text-transform: capitalize !important;
	font-weight: 500 !important;
	padding: 6px 11px !important;
	border-radius: 4px !important;
	margin-top: 20px;
}
.action-btns .btn-filled svg.icon-dashboard {
	width: 17px;
	margin: 0;
	line-height: 0;
	position: relative;
	bottom: 2px;
}
.action-btns button.btn-filled.custom-refresh.icon-dashboard.btn.btn-primary {
	padding: 4px 10px !important;
	line-height: 1.6;
	position: relative;
	bottom: 2px;
}
.action-btns
	button.btn-filled.custom-refresh.icon-dashboard.btn.btn-primary
	svg.btn-size {
	width: 14px;
	margin: 0;
}

select.search-select.form-select {
	background-color: #4fadea !important;
	color: #fff;
	background-image: none;
	-webkit-appearance: auto;
	appearance: auto;
	padding: 5px 12px;
	font-size: 14px;
	width: 30%;
	margin-left: 12px;
}

.investor-popup p{
	text-align: left;
}

.date-picker-custom{
	padding: 10px;
}
@media only screen and (max-width: 768px) {
	.content {
		margin-left: 0;
	}

	.side-panel-toggle {
		display: block;
	}
}
@media only screen and (max-width: 568px) {
	.action-btns {
		text-align: left;
		margin-top: 12px !important;
		margin-left: 11px;
	}
}

@media only screen and (min-width: 769px) {
	.content {
		margin-left: 220px;
	}
}
.error-text {
	font-size: 12px !important;
	color: #dc3545;
	text-align: left;
}
