.main-content-login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 102px);
	background-image: url(/public/assets/images/loginbg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.outer-box {
	position: relative;
}
.login-box {
	padding: 20px;
	position: relative;
	display: block;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	width: 100%;
	min-width: 492px;
	margin-top: -150px;
}
.login-box h3,
p {
	text-align: center;
}
form.form-align {
	text-align: left;
	padding: 10px;
}
.field-size {
	width: 95%;
	/* margin-bottom: 30px !important; */
	height: 40px;
	border-radius: 5px;
	border: 1px solid #d7d7d7;
	font-size: 14px;
	padding: 1px 10px;
	margin-top: 7px;
}
.text-bottom {
	margin-bottom: 10px;
	color: #344054 !important;
}
.login-box h3 {
	font-weight: 500;
	margin-bottom: 0;
}
.login-box p {
	margin-top: 5px;
	font-size: 15px;
}
.btn-position {
	float: right;
}
.MuiOutlinedInput-input {
	height: 0.9em !important;
	border-radius: 8px !important;
}
.text-forgot-pwd {
	float: right;
	margin-top: 0;
	margin-bottom: 3px;
	text-decoration: auto;
	color: #4fadea;
	font-size: 12px;
}
.icon-login {
	margin-right: 10px;
}
.login-box .error-text {
	font-size: 12px !important;
	color: #dc3545;
	text-align: left;
}
.login-box .eye-icon {
	float: right;
	margin-top: -31px;
	margin-right: 6px;
	cursor: pointer;
	height: 16px;
}

.img-size {
    background: #f5f5f5;
    padding: 10px;
    margin: 30px 0;
    border-radius: 40px;
}

@media screen and (max-width: 468px) {
	.login-box {
		min-width: 320px;
	}
}
