.top-link {
	border: 1px solid #4fadea;
	color: #fff;
	background-color: #4fadea;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 500;
	padding: 5px 30px !important;
	border-radius: 6px;
}
.customnavbar-container {
	display: flex;
	justify-content: space-between;
	min-height: 65px !important;
	background: #ffffff;
	box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
	position: relative;
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100%;
	align-items: center;
	padding: 10px 60px !important;
}
.login-link.dropdown button {
	background: transparent;
	color: #4fadea;
	border: none;
	outline: none;
}
.icon-user {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.icon-user span {
	font-weight: 500;
	color: #3896d2;
	margin-right: 13px !important;
}
.icon-user img {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-right: 5px;
}
.list-login {
	border: 1px solid #4fadea !important;
	border-radius: 5px;
	padding: 0px !important;
}
.list-login a {
	color: #4fadea;
	line-height: 38px;
	padding: 5px 18px !important;
}
p {
	color: #000;
}
.text-link {
	color: #fff;
	margin-bottom: 6px;
}
.show.dropdown {
	color: #4fadea;
}
