@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
	height: 100vh;
}
body {
	margin: 0;
	font-family: "Inter", sans-serif;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	color: #344054;
}
h3 {
	font-size: 24px !important;
}
div#root {
	height: 100vh;
}
.App {
	height: 100vh;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.form-control:focus {
	box-shadow: none;
}
.btn-outlined.btn-primary {
	border: 1px solid #4fadea !important;
	color: #4fadea !important;
	font-size: 14px !important;
	text-transform: capitalize !important;
	font-weight: 500 !important;
	padding: 12px 30px !important;
	border-radius: 6px !important;
	background-color: transparent;
	margin-top: 20px;
}
.btn-outlined.btn-primary:hover {
	border: 1px solid #4fadea !important;
	color: #fff !important;
	background-color: #4fadea !important;
	font-size: 14px !important;
	text-transform: capitalize !important;
	font-weight: 500 !important;
	padding: 12px 30px !important;
	border-radius: 6px !important;
	margin-top: 20px;
}
.btn-filled {
	border: 1px solid #4fadea !important;
	color: #fff !important;
	background-color: #4fadea !important;
	font-size: 14px !important;
	text-transform: capitalize !important;
	font-weight: 500 !important;
	padding: 12px 30px !important;
	border-radius: 6px !important;
	margin-top: 20px;
}
